@using CollegeManagementSystem.ViewModels;
@model CourseEditorViewModel
<div class="page-header">
    <h1>Edit Course</h1>
</div>
@using (Html.BeginForm())
{
    <div class="form-group row hidden">
        @Html.LabelFor(m => m.Course.Id, new { @class = "col-sm-1" })
        @Html.TextBoxFor(m => m.Course.Id, new { @class = "form-control col-sm-4" })
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Course.AwardTitle, new { @class = "col-sm-1" })
        @Html.TextBoxFor(m => m.Course.AwardTitle, new { @class = "form-control col-sm-4" })
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Course.Subjects, new { @class = "col-sm-1" })
        @Html.ListBoxFor(m => m.SelectedSubjects, Model.Subjects, new { id = "SubjectList", @class = "selectSubject show-tick form-control col-sm-4" })                                       })
    </div>

    <button type="submit" class="btn btn-sm btn-success">Save</button>
}
